SELCOM_MODE=test
SELCOM_BASE_URL=https://apigw.selcommobile.com
SELCOM_VENDOR=YOUR_TEST_VENDOR
SELCOM_API_KEY=YOUR_TEST_API_KEY
SELCOM_API_SECRET=YOUR_TEST_API_SECRET
SELCOM_CALLBACK_URL=https://YOUR_REGION-YOUR_PROJECT.cloudfunctions.net/api/selcom-callback
APP_RETURN_URL=fundihub://payment-result
